.contributorLeftNav{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(211, 209, 207);
    & > *{
        padding: 1rem 0.2rem;
        font-weight: bold;
    }
    & > *:hover{
        cursor: pointer;
        text-decoration: none;
    }
    & > .active{
        background: white;
    }
}